# Ignore everything by default
/*

# Allow source files
!src/

# Allow gradle
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!settings.gradle
!gradle.properties

# Allow git
!.github/
!.gitignore
!.gitattributes

# ALlow other
!README.md
!LICENSE.txt